<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>First Micropost:</strong></br>
  <%= @micropost.content %></br>
  Created at: <%= @micropost.created_at %></br>
  Updated at: <%= @micropost.updated_at %>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
